.remove-button {
  transform: translate(-12.5%, 10%);
  float: right;
}
.updatedLabel {
  padding: 1rem;
  background: #90ee90;
  color: #000;
  border-radius: 1rem;
}
.card {
  max-width: 40rem;
  box-shadow: 0px 0.25rem 0.25rem #808080;
  padding: 0.5rem;
}
input {
  max-width: 35vw;
  margin-left: 10%;
}
